@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
}

body>a{
	display:inline-block;
	padding:0.6em 0.8em;
}

.right {
    float: right;
}

.conv_edit th,
.conv_edit td{
	padding:0.4em 1em;
	min-width:70px;
}
.conv_edit input[type=radio], input[type=checkbox]{
	margin:0.5em;
}
.conv_edit table .btn{
	float:left;
	margin:4px;
}

.btn-default{
	margin:10px;
}

.row-setting-left{
	text-align: left;
	padding-left: 30px;
}

.row-setting-sub{
	margin: 0px;
}

.out-error{
	background-color: #f2dede;
}
.out-empty{
    background-color: #fcf8e3;
}